@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  
  --color-primary-black: #181D27;
  --color-gray-light: #F9F9F9;
  --color-white: #FFFFFF;
  --color-input-line: #E2E2E2; /* Assumed from "Default Input BG line" */
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-gray-light);
  color: var(--color-primary-black);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
